<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <link rel="shortcut icon" href="images/404f.png" type="image/x-icon">
</head>

<body>
    
    {{>navbar}}

    <!-- main Header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/404.png" alt="About Image" class="img-fluid about-img" title="harshil pethani">
                        </figure>
                        {{!-- <p>Welcome to HP-API Website</p> --}}
                        <h2>{{errormsg}}</h2>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>